<ul class="max-h-full p-4 overflow-auto rounded-md bg-primary-50">
  <ng-container *ngFor="let gallery of gallery$ | async | keyvalue; trackBy: trackByAlbumName">
    <li *ngIf="_album ? gallery.key === _album : true">
      <p class="text-xl uppercase border-b text-secondary-700 border-secondary-700">{{ gallery.key }}</p>
      <ul class="grid max-w-xl grid-cols-1 gap-4 my-2 md:grid-cols-2 lg:grid-cols-3">
        <li
          *ngFor="let image of gallery.value; trackBy: trackByImageName"
          class="w-full overflow-hidden cursor-pointer"
          [ngClass]="{ 'ring-4 ring-primary-400': isSelected(gallery.key, image) }"
          (click)="selectImage(gallery.key, image)"
        >
          <img
            [src]="imageUrl + gallery.key + '/' + image"
            alt=""
            class="object-cover transition-all duration-700 aspect-video hover:scale-110"
            [ngClass]="{ 'scale-125 hover:scale-125': isSelected(gallery.key, image) }"
            draggable="false"
          />
        </li>
        <li (click)="addNewImage(gallery.key)" class="w-full overflow-hidden cursor-pointer">
          <img
            src="/assets/icons/plus.svg"
            alt=""
            class="object-contain transition-all opacity-30 aspect-video"
            draggable="false"
          />
        </li>
      </ul>
    </li>
  </ng-container>
  <div class="flex justify-end">
    <button mat-button color="primary" (click)="closeModal()">Cancel</button>
    <button mat-flat-button color="accent" (click)="select()">Select</button>
  </div>
</ul>
