<form [formGroup]="form" class="flex flex-col h-full p-4 overflow-y-auto rounded-md bg-secondary-50">
  <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput type="text" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>

  <mat-tab-group
    mat-align-tabs="start"
    [selectedIndex]="selected.value"
    (selectedIndexChange)="selected.setValue($event)"
    class="!w-xl !max-w-full mb-2"
  >
    <mat-tab *ngFor="let variant of variants; let index = index; trackBy: trackByIndex">
      <ng-template mat-tab-label class="w-full">
        <p>Variant ({{ index + 1 }})</p>
        <mat-icon class="ml-4" *ngIf="variants.length > 1" (click)="removeTab(index)">close</mat-icon>
      </ng-template>
      <div>
        <app-product-create-variant
          [variant]="variant"
          (updateVariant)="onUpdateVariant($event, index)"
        ></app-product-create-variant>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>add</mat-icon>
      </ng-template>
      <div>
        <app-product-create-variant (addVariant)="onAddVariant($event, true)"></app-product-create-variant>
      </div>
    </mat-tab>
  </mat-tab-group>

  <div class="flex items-center justify-end gap-2 pt-2 border-t border-primary-200">
    <button mat-button type="button" (click)="closeModal()">Cancel</button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>
