<div *ngFor="let navItem of data; let index = index" class="w-full border-b border-gray-500 font-medium">
  <div
    class="flex justify-between self-center cursor-pointer p-4 bg-white hover:bg-gray-50"
    (click)="selectItem.emit({navItem, index})"
  >
    <div class="capitalize">{{ navItem.title }}</div>
    <svg
      *ngIf="navItem.items?.length"
      [ngClass]="{ 'rotate-90': currentItem === index }"
      xmlns="http://www.w3.org/2000/svg"
      class="h-6 w-6 transition-all"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
    </svg>
  </div>
  <div *ngIf="currentItem === index && navItem.items?.length" class="bg-sandstone-100 overflow-hidden" @collapseExpand>
    <div
      *ngFor="let item of navItem.items"
      class="cursor-pointer border-b border-sandstone-300 last:border-none hover:bg-sandstone-200"
      (click)="navigate.emit(item.url)"
    >
      <div class="p-4 text-copper-rose-500 hover:text-copper-rose-700">
        {{ item.title }}
      </div>
    </div>
  </div>
</div>
