<div
  class="
    flex
    justify-center
    items-center
    fixed
    inset-x-0
    bottom-0
    mx-auto
    my-2
    w-fit
    max-w-[90%]
    py-1
    px-2
    rounded
  "
  [ngClass]="{
    'bg-green-400 selection:bg-green-500': notification.type === 'success',
    'bg-orange-400 selection:bg-orange-500': notification.type === 'warn',
    'bg-red-400 selection:bg-red-500': notification.type === 'error'
  }"
  [@fade]="'in'"
  *ngIf="notification$ | async as notification"
>
  <div
    class="flex flex-col justify-center"
    [ngClass]="{
      'text-green-800': notification.type === 'success',
      'text-orange-800': notification.type === 'warn',
      'text-red-800': notification.type === 'error'
    }"
  >
    <h1 class="font-bold uppercase text-lg">{{ notification.title }}</h1>
    <p>{{ notification.message }}</p>
  </div>
  <svg
    *ngIf="notification.dismissible"
    xmlns="http://www.w3.org/2000/svg"
    class="h-8 w-8 my-auto ml-4 cursor-pointer"
    [ngClass]="{
      'text-green-800 hover:text-green-900': notification.type === 'success',
      'text-orange-800 hover:text-orange-900': notification.type === 'warn',
      'text-red-800 hover:text-red-900': notification.type === 'error'
    }"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M6 18L18 6M6 6l12 12"
    />
  </svg>
</div>
