@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply focus:ring-0;
  }
}

@layer components {
  /* Carousel */
  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: theme("colors.white");
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  }
  .swiper-pagination-bullet {
    background-color: theme("colors.white");
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    &-active {
      background-color: theme("colors.secondary.500");
    }
  }
}

@layer utilities {
  .inset-center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
