<div *ngIf="collection$ | async as collection; else noData">
  <div class="relative w-full overflow-hidden h-96">
    <img
      *ngIf="collection.image"
      [src]="imageEndpoint + collection.image"
      [alt]="collection.title"
      class="object-cover w-full h-96"
    />
    <div class="absolute inset-0 bg-primary-700/30"></div>
    <h1 class="absolute text-5xl font-bold text-white drop-shadow-2xl font-secondary inset-center">
      {{ collection.title }}
    </h1>
  </div>
</div>

<ng-template #noData>
  <h1>NO DATA</h1>
</ng-template>

<app-product-filters-wrapper>
  <ul *ngIf="productRes$ | async as productRes">
    <li *ngFor="let product of productRes.products">{{ product.title }}</li>
    <li *ngIf="isAuthenticated$ | async" class="flex items-center justify-center">
      <mat-icon
        class="!w-20 !h-20 text-center text-gray-400 cursor-pointer text-7xl hover:text-gray-900"
        (click)="openModal()"
      >
        add
      </mat-icon>
    </li>
  </ul>
</app-product-filters-wrapper>
